{% extends "base.html" %}
{% block content %}
    <h2>{{ user.username }}</h2>
    <div class="jumbotron">
        <a href="{% url 'loader:user_files' %}" class="btn btn-primary btn-block">View Files</a>
        <br>
        <br>
        <a href="{% url 'loader:user_feeds' %}" class="btn btn-primary btn-block">Manage Feeds</a>
        <br>
        <br>
        <a href="{% url 'loader:list_procs' %}" class="btn btn-primary btn-block">Manage Procedures</a>
        <br>
        <br>
        <a href="{% url 'loader:load_file' %}" class="btn btn-primary btn-block">Upload File</a>
        <br>
        <br>
        <a href="{% url 'loader:create_user' %}" class="btn btn-primary btn-block">Add User</a>
        <br>
        <br>
        <a href="{% url 'loader:update_user' pk=user.pk %}" class="btn btn-primary btn-block">Profile Settings</a>
    </div>
{% endblock content %}