{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'loader/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'loader/css/loader.css' %}">

<div id="title">
    <span id="title_text">Lock 'n' Load</span>
    <a href="{% url 'loader:logout_of_app' %}" style="float:right;">Logout</a>
</div>
<div id="content">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ form.non_field_errors }}</p>

            {{ form.errors }}
            <table id="file_outer" style="width: 100%;">
                <tr class="file_inner" style="display: table;margin: 0 auto;">

                    <td id="feed">
                        <select id="id_feed" name="feed">
                            <option value selected="selected" disabled>Please Select One</option>
                            {% for feed in user.feed_set.all %}
                            <option value="{{ feed.pk }}">{{ feed.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td id="file">{{ form.data }}</td>
                    <td id="submit">
                        <input type="submit" value="Upload"/>
                    </td>
                </tr>
            </table>
    </form>
</div>