{% extends "base.html" %}
{% block content %}
    <div class="file_form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>{{ form.non_field_errors }}</p>
                {{ form.errors }}
                <table class="file_outer">
                    <tr>
                        <td colspan="3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse&hellip; <input type="file" id="id_data" name="data" multiple>
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="feed" colspan="2">
                            <select class="form-control" name="feed">
                                <option value selected disabled>Please Select A Feed</option>
                                {% for feed in user.feed_set.all %}
                                <option value="{{ feed.pk }}">{{ feed.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input class="btn btn-primary btn-block" type="submit" value="Upload"/>
                        </td>
                    </tr>
                </table>
        </form>
    </div>
    <style>


    .file_form{
        width:40vw;
        margin: 0 auto;
        padding: 5% 0 5% 0;
        background:#eee;
        -webkit-border-radius: 0.4em;
        -o-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
    }
    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      background: red;
      cursor: inherit;
      display: block;
    }
    input[readonly] {
      background-color: white !important;
      cursor: text !important;
    }
    </style>
    <script>
        $(document).on('change', '.btn-file :file', function() {
          var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready( function() {
            $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
        });
    </script>
{% endblock content %}