{% extends "base.html" %}
{% block content %}
    <div class="login-form">
        <form action="{% url 'loader:login_to_app' %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <div class="jumbotron file_outer">
            {{ form.non_field_errors }}
            <div class="form-group">
                <h3>Login</h3>

                <label for="id_username">Username</label>
                <input type="text" id="id_username" name="username" class="form-control" placeholder="username">
                <label for="id_password">Password</label>
                <input type="password" id="id_password" name="password" class="form-control" placeholder="Password">

                <input type="hidden" name="next" value="{{ next }}" />
                <br/>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
    </div>
{% endblock content %}