{% extends "base.html" %}
{% block content %}
    <h2>Feed Management</h2>
    <h3>Create Feed:</h3>
    <a href="{% url 'loader:create_proc' %}" class="btn btn-primary">New Procedure</a>
    <br>
    <h3>Update Procedure:</h3>
    <table>
        <tbody>
            {% for proc in user_procedures %}
            <tr>
                <td>
                    <a href="{% url 'loader:update_proc' pk=proc.pk %}" class="btn btn-sm btn-block btn-primary">{{ proc.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
<hr>
<a href="{% url 'loader:user_home' %}" class="btn btn-primary">Go Back</a>
{% endblock content %}