{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="'ststic/loader/css/table.css'" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <tbody>
                <tr>
                    {% for col in column_choice %}
                    <th>
                        {{ col|safe }}
                    </th>
                    {% endfor %}
                </tr>
                {% if header %}
                <tr>
                    {% for item in header %}
                    <th>
                        {{ item }}
                    </th>
                    {% endfor %}
                </tr>
                {% endif %}
                {% for row in data %}
                <tr>
                    {% for col in row %}
                    <td>
                        {{ col }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}